/build
/dist
/docs
/coverage
/.gitattributes
.gitignore
.prettierignore
/LICENSE
/.vscode
*.svg
*.map
*.tsbuildinfo
/app/build/
/.stylelintrc
/.editorconfig
/.yarn
/.pnp.*
/.yarnrc.yml
/.vscode
/tmp
*.lock
*.tgz
*.png
*.txt
*.eot
*.ttf
*.woff
*.woff2
*.mp4
*.csv
*.tcss
*.xml
*.ico
