@import './vars';

@import '~lineupjs/build/LineUpJS.css';

.lu-rule-button-chooser.switch {
  overflow: inherit;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;

  span {
    font-size: 1rem;
  }
}

.lu-group-hierarchy,
.lu-sort-hierarchy,
.lu-sort-groups-hierarchy {
  margin-bottom: 1em;
}

.lu-hierarchy-entry,
.lu-hierarchy-adder {
  align-items: center;
  padding: 6px 0.5em 0.5em 0.5em;
}

.lu-hierarchy-entry > .lu-label {
  align-self: stretch;
}

.lu-hierarchy-adder {
  &::before {
    color: #cecece;
  }

  input[type=search].lu-search-input {
    margin: 0;
    height: 2em;
    border-color: #dedede;
    font-size: small;
    font-weight: normal;
  }
}

input[type=search].lu-search-input {
  margin-bottom: 0;
  border: 1px solid $secondary-color;
  border-radius: 3px;
  padding: 3px 5px;
  box-sizing: border-box;
}

.lu-summary .lu-checkbox > [type=checkbox] + label {
  margin: 0;
  font-size: 12px;
  line-height: 100%;
}

.lu-side-panel-entry {
  margin-bottom: 0.8em;
}

.lu-side-panel {
  padding-top: 2em;

  &.lu-collapsed {
    transform: unset;
  }
}

.lu-header > .lu-label {
  line-height: 1.5;
}

.lu-collapser {
  padding: 1.5em 0.2em;
}

.lu-dialog-table > .lu-checkbox > [type="checkbox"] + label {
  display: inline-flex;
}
