@import './vars';

// modify checkbox style
[type="checkbox"] {
  + span {
    padding-left: 25px;
  }

  + span::before,
  &:not(.filled-in) + span::after {
    border: 1px solid color("grey", "darken-1");
  }

  &:not(:checked):disabled + span {
    cursor: not-allowed;
  }

  &:not(:checked):disabled + span::before {
    border: 1px solid color("grey", "lighten-1");
    background: color("grey", "lighten-2");
  }
}
