<!DOCTYPE html>
<html>

<head>
  <title>LineUp</title>
  <link href="https://unpkg.com/lineupjs/build/LineUpJS.min.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="./style.css" />
</head>

<body>
  <script id="data" type="text/csv">DATADATA</script>
  <script src="https://cdn.rawgit.com/mholt/PapaParse/master/papaparse.min.js"></script>
  <script src="https://unpkg.com/lineupjs/build/LineUpJS.min.js"></script>
  <script type="text/javascript" src="./index.js"></script>
</body>

</html>
