$roboto-font-path: '~materialize-css/dist/fonts/roboto/';

@import '~materialize-css/sass/components/color';

$primary-color: color("grey", "lighten-3");
$secondary-color: color("grey", "darken-3");

$navbar-height: 40px;
$navbar-font-color: color("grey", "darken-2");
$navbar-brand-font-size: 1.2em;

$footer-font-color: color("grey", "darken-4");
$footer-copyright-font-color: $footer-font-color;

$input-height: 2.4rem;

$radio-fill-color: color("grey", "base") !default;
$radio-empty-color: #5a5a5a !default;
$radio-border: 2px solid $secondary-color !default;

@import '~materialize-css/sass/materialize';
@import './material-icons';

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

@import './model/style';

html {
  font-size: 14px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > main {
    flex: 1 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;

    > div {
      flex: 1 1 auto;
      opacity: 1;
      transition: opacity 0.5s ease;
    }

    &[data-state=initial] {
      #uploader {
        display: none;
      }
    }

    &[data-state=uploading] {
      #dropper {
        display: none;
      }

      .lu {
        visibility: visible;
      }
    }

    &[data-state=ready] {
      > *:not(.lu) {
        display: none;
      }

      .lu {
        visibility: visible;
        pointer-events: all;
        opacity: 1;
      }
    }
  }
}

nav {
  .brand-logo {
    margin-left: 1em;
  }

  .btn-floating.halfway-fab {
    bottom: -11px;
  }

  .fixed-action-btn.horizontal ul li {
    float: unset;
    text-align: right;
    margin-top: 11px;

    > a {
      margin: 0;
    }
  }
}

label {
  color: color("grey", "darken-3");
}

// modify checkbox style
[type="checkbox"] {
  + label {
    padding-left: 25px;
  }

  + label::before,
  &:not(.filled-in) + label::after {
    border: 1px solid color("grey", "darken-1");
  }

  &:not(:checked):disabled + label {
    cursor: not-allowed;
  }

  &:not(:checked):disabled + label::before {
    border: 1px solid color("grey", "lighten-1");
    background: color("grey", "lighten-2");
  }
}

.carousel {
  height: 600px;

  .card-image {
    height: 250px;
  }

  .carousel-item {
    width: 500px;
    height: 400px;
  }

  .card-reveal p {
    text-align: justify;
  }
}

.lu-c {
  position: absolute !important;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  line-height: 1;
}

.lu-rule-button-chooser.switch {
  overflow: inherit;
  display: flex;
  justify-content: center;

  span {
    font-size: 1rem;
  }
}

.lu-search > input[type=search] {
  margin-bottom: 0;
  border: 1px solid $secondary-color;
  border-radius: 3px;
  padding: 3px 5px;
  box-sizing: border-box;
}

.lu-summary .lu-checkbox > [type="checkbox"] + label {
  margin: 0;
  font-size: 12px;
  line-height: 100%;
}

article.lu-side-panel-entry {
  margin-bottom: 0.8em;

  .lu-summary[data-renderer="histogram"][data-summary="stratify"] {
    margin-bottom: 8em;

    select {
      display: block;
      position: absolute;
      bottom: -7em;
    }
  }
}

.lu-side-panel {
  padding-top: 2em;

  &.lu-collapsed {
    transform: unset;
  }
}

section.lu-header > .lu-label {
  line-height: 1.5;
}

.page-footer {
  padding-top: 0;

  .footer-copyright {
    min-height: 30px;
    padding: 0;
  }
}

.lu-side-panel .lu-collapser {
  padding: 1.5em 0.2em;
}

.lu-filter-table .lu-checkbox > [type="checkbox"] + label {
  display: inline-flex;
}
