$roboto-font-path: '~materialize-css/dist/fonts/roboto/';

@import '~materialize-css/sass/components/color';

$primary-color: color("blue", "lighten-1");
$secondary-color: color("deep-purple", "lighten-1");

@import '~materialize-css/sass/materialize';

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

@import './material-icons';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > main {
    flex: 1 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;

    > div {
      flex: 1 1 auto;
      z-index: 100;
      opacity: 1;
      transition: opacity 0.5s ease;
    }

    &[data-state=initial] {
      #uploader {
        display: none;
      }
    }

    &[data-state=uploading] {
      #dropper {
        display: none;
      }

      .lu {
        visibility: visible;
      }
    }

    &[data-state=ready] {
      > *:not(.lu) {
        display: none;
      }

      .lu {
        visibility: visible;
        pointer-events: all;
        opacity: 1;
      }
    }
  }
}

.brand-logo {
  margin-left: 1em;
}

nav .fixed-action-btn li {
  float: unset;
  text-align: right;

  > a {
    margin: 0;
  }
}

.carousel {
  height: 600px;

  .card-image {
    height: 250px;
  }

  .carousel-item {
    width: 500px;
    height: 400px;
  }

  .card-reveal p {
    text-align: justify;
  }
}

.lu-c {
  position: absolute !important;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  line-height: 1;
}

.lu-rule-button-chooser.switch {
  overflow: inherit;
  display: flex;
  justify-content: center;

  span {
    font-size: 1rem;
  }
}

.lu-search > input[type=search] {
  margin-bottom: 0;
}

.lu-summary .lu-checkbox {
  bottom: -5em !important;

  > label {
    margin: 0;
    font-size: 12px;
    line-height: 100%;
  }
}

.lu-side-panel {
  margin-top: 1.5em;
}

section.lu-header > .lu-label {
  line-height: 1.5;
}
